* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #293241;
    color: #e0fbfc
}

a, .footer-text {
    color: #98c1d9;
}

.main-component {
    padding: 20px;
    background-color: #e0fbfc;
}

.nav-tabs {
    background-color: #ee6c4d;
}

footer {
    height: 2.5rem;
    background-color: #3d5a80;
}